body
{
    font-family: 'Cambria';
    background-color: white;
    font-size: 14px;
}

.principal__raiz
{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.principal
{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.principal__cabecera
{
    margin: 15px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgb(77, 76, 76);
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
    height: 150px;
    font-size: 24px;
}

.principal__cuerpo
{
    margin: 15px;
    border-radius: 5px;
    background-color: grey;
    height: 100px;
}


.card {
    background-color: #d5d1d1;
    border: 1px;
    border-radius: 8px;
    padding: 15px;
    margin: 20px;
    color: black;
}

.card__titulo
{
    text-align: center;
    font-size: 25px;
    height: 100px;
}


.card__item
{
    text-align: center;
}


.busqueda {
    background-color: #d5d1d1;
    border: 1px;
    border-radius: 8px;
    padding: 15px;
    margin-left: 15px;
    margin-right: 15px;
    color: black;
    display: flex; /* Establece el contenedor como un flex container */
    flex-wrap: nowrap; /* Evita que los elementos se envuelvan a la siguiente línea */
    height: 220px;
}


.pagarProducto {
    background-color: white;
    border: 1px;
    border-radius: 8px;
    padding: 15px;
    margin: 20px;
    color: black;
    display: flex; /* Establece el contenedor como un flex container */
    flex-wrap: nowrap; /* Evita que los elementos se envuelvan a la siguiente línea */
    height: 230px;
}


.busqueda__precio,.busqueda__descuento {
    color: darkred;
    font-size: 15px;
    font-weight: bold;
}


.devolverProducto {
    background-color: #d5d1d1;
    border-radius: 8px;
    padding: 15px;
    margin: 20px;
    color: black;
    display: flex; /* Establece el contenedor como un flex container */
    flex-wrap: nowrap; /* Evita que los elementos se envuelvan a la siguiente línea */
    height: 400px;
}


.misPedidos {
    background-color: whitesmoke;
    border-radius: 8px;
    padding: 15px;
    margin: 20px;
    color: black;
    height: 100%;
}


.listadoProductos
{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.listadoProductos > * {
    flex: 1 1 30%; 
    max-width: 18%; 
    margin: 10px;
}

.listadoProductos div
{
    vertical-align: middle;
}

.cesta
{
    background-color: #d5d1d1;
    border: 1px;
    border-radius: 8px;
    padding: 15px;
    margin-left: 15px;
    margin-right: 15px;
    color: black;
    display: flex; /* Establece el contenedor como un flex container */
    flex-wrap: nowrap; /* Evita que los elementos se envuelvan a la siguiente línea */
}

.cestaDetail__cantidad
{
    width: 80px;
}


.cestaProductos
{
    height: 100%;
    background-color: #d5d1d1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 5px;
}

.cestaProductos > * {
    flex: 1 1 100%; 
    max-width: 100%; 
    margin: 10px;
}

.cestaProductos div
{
    vertical-align: middle;
}

.cestaDetail {
    background-color: white;
    border: 1px;
    border-radius: 8px;
    padding: 15px;
    margin: 20px;
    color: black;
    display: flex; /* Establece el contenedor como un flex container */
    flex-wrap: nowrap; /* Evita que los elementos se envuelvan a la siguiente línea */
    height: 210px;
}

.cestaDetail__titulo
{
    font-weight: bold;
    font-size: 15px;
}

.cestaDetail__precio
{
    font-weight: bold;
    font-size: 15px;
    color: red;
}

.cestaDetail__checkbox
{
    border: 1px solid;
}

.productBusqueda
{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

.productBusqueda > * {
    flex: 1 1 100%; 
    max-width: 100%; 
    margin: 10px;
}


.productBusqueda div
{
    vertical-align: middle;
}

.pagarLista
{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #d5d1d1;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.pagarLista > * {
    flex: 1 1 100%; 
    max-width: 100%; 
    margin: 10px;
}


.pagarLista div
{
    vertical-align: middle;
}


.misPedidosOpcion
{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #d5d1d1;
    justify-content: space-around;
    margin-left: 15px;
    border-radius: 5px;
    margin-right: 15px;
}

.misPedidosOpcion > * {
    flex: 1 1 100%; 
    max-width: 100%; 
    margin: 10px;
}


.misPedidosOpcion div
{
    vertical-align: middle;
}


.productListbusqueda
{
    margin: 15px;
    border-radius: 5px;
    background-color: rgb(201, 198, 198);
    height: 80px;
    color: black;
    text-align: center;
    vertical-align:  middle;
    line-height:30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.productListbusqueda__fila
{
    margin-left: 10px;
}

.pie
{
    margin: 15px;
    border-radius: 5px;
    background-color: rgb(201, 198, 198);
    height: 150px;
    color: black;
    text-align: center;
    vertical-align:  middle;
    line-height:30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.pie__information
{
    font-size: 16px;
    font-weight: bold;
}

.filaNombre
{
    color: yellow;
}

.asientoDisponible
{ 
    border: 1px;
    border-color: yellow;
    border-style: solid;
    width: 30px;
    height: 30px;
    margin: 2px;
}

.asientoOcupado
{
    border: 1px;
    border-color: yellow;
    border-style: solid;
    width: 30px;
    height: 30px;
    margin: 2px;
    background-color: yellow;
}

.asientoReservado
{
    border: 1px;
    border-color: gray;
    border-style: solid;
    width: 30px;
    height: 30px;
    margin: 2px;
    background-color: gray;
}

table
{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    vertical-align: middle;
    margin-top: 20px;
}

.principal__cabecera__part__busqueda
{
    color: #000;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    border: none;
    margin: 10px 10px 10px 14px;
    padding-left: 10px;
}

.principal__cabecera_part
{
    height: 50%;
}

.principal__cabecera__part__logo
{
    width: 256px;
    height: 60px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.principal__cabecera__part__input
{
    color: black;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-radius: 2px;
    border: none;
    height: 30px;
    margin: 10px 10px 10px 14px;
    padding-left: 10px;
    text-align: left;
}



.principal__cabecera__part__botton {
    width: 56px;
    height: 32px;
    border-radius: 20px;
    margin: 4px 4px 0 0;
    background-size: 24px 24px;
    text-align: left;
}

.cabecera
{
    background-color: darkblue;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    margin: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.principal__header__base_icons
{
    background-color: white;
}

.cabecera__link
{
    margin-left: 5px;
}


.principal__header 
{
    display: flex;
    flex-wrap: wrap;
    height: 70px;
    font-weight: bold;
    background-color: black;
}


.principal__header2
{
    display: flex;
    flex-wrap: wrap;
    height: 70px;
    font-weight: bold;
    background-color: black;
}


.principal__header > * {
    flex: 1 1 15%; 
    max-width: 20%; 
    margin: 10px;
}

.principal__header2 > * {
    flex: 1 1 15%; 
    max-width: 20%; 
    margin: 10px;
}
.principal__header div
{
    vertical-align: middle;
}

.principal__header div
{
    height: 100px;
    color: white;
}

.principal__header__container
{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.cabecera__logo
{
    font-size: 30px;
    text-align: center;
}

.productListbusqueda__input
{
     border-radius: 5px;
     margin: 2px;
     width: 250px;
}

.productListbusqueda__buscar
{
    margin-left: 15px;
}

.productListbusqueda__pedidos
{
    margin-left: 20px;
}

.productListbusqueda__botonPedidos
{
    width: 200px;
}


.card__imagen,.cestaDetail__imagen,.misPedidosDetalleProducto__imagen,*.misPedidosDetalleProducto__devolverProducto,.busqueda__imagen
{
    top: 50%;
    -ms-transform: translateY(-50%);
    width: 100%; 
}

.card__cantidad
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.card__cantidad__number
{
    width: 40px;
}


.pagarProducto__imagen
{
    top: 50%;
    -ms-transform: translateY(-50%);
    width: 100%; 
    height: 90%;
}

.anadirCesta__imagen
{
    top: 50%;
    -ms-transform: translateY(-50%);
    width: 100%; 
}



.busqueda__titulo,.devolverProducto__titulo,*.pagarProducto_titulo
{
    text-align: left;
}

.devolverProducto__descripcion
{
    text-align: left;
    font-size: 20px;
}

.anadirCesta__titulo
{
    text-align: left;
}

.busqueda__anadirCesta
{
    margin: 5px;
}


.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  

  .anadirCesta {
    background-color: #d5d1d1;
    border-radius: 8px;
    padding: 15px;
    color: black;
    height: 440px;
    margin-left: 15px;
    margin-right: 15px;
}

.anadirCesta__precio,.anadirCesta__cantidad,.anadirCesta__cesta,.anadirCesta__home
{
    font-weight: bold;
    font-size: 20px;
    color: darkred;
}

.anadirCesta_precio_cantidad
{
    width: 100px;
}

.pago
{
    text-align: center;
}

.pago_total
{
    font-weight: bold;
    font-size: 20px;
    color: darkred;
}

.pago__boton
{
    width: 100%;
}


.opcionPagar
{
    background-color: #d5d1d1;
    border: 1px;
    border-radius: 8px;
    padding: 15px;
    margin-left: 15px;
    margin-right: 15px;
    color: black;
    display: flex;
    flex-wrap: nowrap;
}

.opcionPagar__opciones,.pagar__principal__resumen
{
    background-color:#d5d1d1;
}

.pagar__principal__opciones
{
    border-right: 1px solid;
}

.opcionPagar__opciones__contenedor
{
    margin: 10px;
    background-color: #d5d1d1;
    padding: 20px;
    border-radius: 5px;
}


.opcionPagar__direccion
{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.opcionPagar__tarjeta
{
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}


.pagar__principal__opciones__textbox
{
    height: 50px;
}

.pagar__principal__opciones__textbox input
{
    border-radius: 5px;
    border: #d5d1d1;
    height: 40px;
    width: 300px;
}

.pagar__principal__opciones__textbox_ccv
{
    width: 70px;
}

.opcionPagar__numeroTarjeta
{
    height: 50px;
}

.opcionPagar__numeroTarjeta input
{
    border-radius: 5px;
    border: #d5d1d1;
    height: 40px;
    width: 300px;
}

.opcionPagar__nombreTitular
{
    height: 50px;
}

.opcionPagar__nombreTitular input
{
    border-radius: 5px;
    border: #d5d1d1;
    height: 40px;
    width: 300px;
}

.opcionPagar__Cvv
{
    height: 50px;
}

.opcionPagar__Cvv input
{
    border-radius: 5px;
    border: #d5d1d1;
    height: 40px;
    width: 300px;
}


.opcionPagar_tarjetaTitularCvv
{
    margin-top: 20px;
}

.opcionPagarProductos
{
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}

.pagar__principal__resumen__titulos
{
    font-weight: bold;
    font-size: 20px;
}

.pagar__principal__resumen__titulos_total
{
    color: darkred;
    font-weight: bold;
    font-size: 18px;
}

.pagar__principal__resumen__pago
{
    margin: 10px;
    text-align: center;
}

.pagar__principal__resumen__pago_boton
{
    font-size: 20px;
    width: 80%;
}

.misPedidosDetallePedidosRealizados
{
    font-size: 18px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
}

.misPedidosDetalleProducto
{
    background-color: white;
}


.misPedidosDetalleProducto__title
{
    text-align: left;
}

.misPedidosRow_productos
{
     margin-top: 20px;
}

.misPedidosDetalle__titulo,.misPedidosDetalle__total,.misPedidosDetalle__enviar,.misPedidosDetalle__nro
{
    font-size: 15px;
    font-weight: bold;
}

.misPedidosDetalle__tituloListado
{
    font-size: 15px;
    font-weight: bold;
}


.misPedidosDetallePedidosRealizados_IrHome
{
    display: flex;
    justify-content: end;
}
